/********** GENERAL **********/

body {
	padding: 0;
	margin : 0; 
	box-sizing : border-box;
	margin-top:150px;
	font-family:Poppins, sans-serif;	
}

.h1panier {
  font-weight: bold;
  text-align:center;
  margin-bottom:100px;
  position:relative;
}

.shopping-cart {
  padding-left:50px;
  padding-right:100px;
}

.product-image {
  float: left;
  width: 20%;
}

.product-details {
  float: left;
  width: 37%;
}

.product-price {
  float: left;
  width: 12%;
}

.product-quantity {
  float: left;
  width: 10%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}


/********** CLEAR FIX **********/

.group:before, .shopping-cart:before, .column-labels:before, .productpanier:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.productpanier:after,
.totals-item:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .productpanier:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .productpanier, .totals-item {
  zoom: 1;
}


/********** SIGNE € **********/

.productpanier .product-price:before, .productpanier .product-line-price:before, .totals-value:before {
  content: '€';
}


/********** BOUTON **********/

input[id="command"] {
	float:right;
    width: 20%;
    font-size: 15px;
	text-align: center;
    color: black;
    padding: 10px 20px;
    background: #9FB56D; 
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 60px; 
	font-family: Poppins, sans-serif;
	font-size: 16px;
	margin-top: 20px; 
    margin-bottom: 50px; 
}

input[id="command"]:hover {
  color: white;
}

/********** COLONNES **********/

.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}


/********** PRODUITS DU PANIER **********/

.productpanier {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.productpanier .product-image {
  text-align: center;
}

.productpanier .product-image img {
  width: 100px;
}

.productpanier .product-details .product-title {
  margin-right: 20px;
  font-weight:bold;
}

.productpanier .product-details .product-description {
  margin: 5px 20px 5px 0;
  font-size:14px;
}

.productpanier .product-quantity input {
  width: 40px;
}

.productpanier .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
}

.productpanier .remove-product:hover {
  background-color: #a44;
}


/********** CALCUL DES TOTAUX **********/

.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
  
}
.totals-item p {
	float:right;
	margin-left:20px;
}


/********** RESPONSIVE TABLETTE **********/

@media screen and (max-width: 650px) {
.shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.column-labels {
    display: none;
}

.product-image {
    float: right;
    width: auto;
}

.product-image img {
    margin: 0 0 10px 10px;
}

.product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
}

.product-price {
    clear: both;
    width: 70px;
}

.product-quantity {
    width: 100px;
}
  
.product-quantity input {
    margin-left: 20px;
}

.product-quantity:before {
    content: 'x';
}

.product-removal {
    width: auto;
}

.product-line-price {
    float: right;
    width: 70px;
}
}


/********** RESPONSIVE TELEPHONE **********/

@media screen and (max-width: 350px) {
.product-removal {
    float: right;
  }

.product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

.productpanier .product-line-price:before {
    content: 'Item Total: €';
  }

.totals .totals-item label {
    width: 60%;
  }
 
.totals .totals-item .totals-value {
    width: 40%;
  }
}